@model Song

<div>
  <span class="text-muted pull-right">
    @Model.Length.ToString("mm':'ss")
  </span>
  <div class="text-primary"
       style="text-overflow: ellipsis;">
    <span class="glyphicon glyphicon-music"></span>
    @Model.Title
  </div>
</div>