@model Playlist

<div class="panel panel-default">
  <div class="panel-body">

    <div class="row">
      <div class="col-xs-4">
        <img src="~/images/album03.png"
             class="img-responsive img-rounded pull-left" />
      </div>
      <div class="col-xs-8">
        <h3 style="margin-top: 0px;">@Model.Name</h3>
        @foreach (var item in Model.Items) {
          if (item is Song s) {
            @Html.DisplayFor(x => s)
          } else if (item is Album a) {
            @Html.DisplayFor(x => a)
          }
        }
      </div>
    </div>
  </div>
</div>

